#addingBg{
    -fx-background-color: #B1AFFF;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:900px 650px;
}

#addProject{
    -fx-background-color: #F7F9F2;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:714px 1049px;
}

.back {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: transform 0.3s;
}

.back:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

.home {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: transform 0.3s;
}

.home:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}