#DeletingProjectBg{
    -fx-background-image: url("adminBg.jpg");
    -fx-background-position: center center;
    -fx-background-size: cover;
}

#showPane{
    -fx-background-color: rgba(96, 129, 174, 0.76);
    -fx-background-radius: 10px;
}

.back {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: transform 0.3s;
}

.back:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

.home {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: transform 0.3s;
}

.home:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

.delete {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: transform 0.3s;
}

.delete:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

.image {
    -fx-background-radius: 20px;
}