
#participant_home{
    -fx-background-image:url('adminBg.jpg');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:900px 650px;
}

.addProject{
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: transform 0.3s;
}

.addProject:hover{
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

.req2change{
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: transform 0.3s;
}

.req2change:hover{
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}