.button1 {
    -fx-background-color: #924DBF;
    -fx-background-radius: 25px;
    -fx-transition: 0.5s;
    -fx-border-color: white;
    -fx-border-width: 5px;
    -fx-font-size: 14px;
}

.button2 {
    -fx-background-color: #9E72C3;
    -fx-background-radius: 25px;
    -fx-border-color: white;
    -fx-border-width: 5px;
    -fx-font-size: 14px;
}

.button3 {
    -fx-background-color: #7338A0;
    -fx-background-radius: 25px;
    -fx-border-color: white;
    -fx-border-width: 5px;
    -fx-font-size: 14px;
}

.button1:hover {
    -fx-background-color: white;
    -fx-background-radius: 25px;
    -fx-border-color: #924DBF;
    -fx-border-width: 5px;
    -fx-font-size: 16px;

}

.button2:hover {
    -fx-background-color: white;
    -fx-background-radius: 25px;
    -fx-border-color: #924DBF;
    -fx-border-width: 5px;
    -fx-font-size: 16px;

}

.button3:hover {
    -fx-background-color: white;
    -fx-background-radius: 25px;
    -fx-border-color: #924DBF;
    -fx-border-width: 5px;
    -fx-font-size: 16px;

}